name: Python

on: [push]

jobs:

  devel:
    name: Development build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
      - name: Prerequisites
        run: |
          sudo apt install -y -o Acquire::Retries=50 \
                           autoconf-archive openssl xxd asn1c \
                           python3-pip python3-setuptools python3-cffi \
                           python3-coverage python3-pycodestyle \
                           python3-flake8
          sudo pip3 install pylint
      - name: Test
        working-directory: python
        run: |
          ./test.sh
      - name: Source distribution
        working-directory: python
        run: |
          python3 setup.py sdist
      - name: Upload distribution
        uses: actions/upload-artifact@v1
        with:
          name: python-dist
          path: python/dist

  sdist:
    name: Build from sdist
    runs-on: ubuntu-latest
    needs: devel
    steps:
      - name: Prerequisites
        run: |
          sudo apt install -y -o Acquire::Retries=50 \
                           python3-pip python3-setuptools
      - name: Download distribution
        uses: actions/download-artifact@v1
        with:
          name: python-dist
      - name: Install
        run: |
          sudo pip3 install python-dist/libcx-*.tar.gz
      - name: Usage test
        run: |
          python3 -I -c 'import libcx'

  sdist-extlibcx:
    name: Build from sdist (with external libcx)
    runs-on: ubuntu-latest
    needs: devel
    steps:
      - name: Prerequisites
        run: |
          sudo apt install -y -o Acquire::Retries=50 python3-setuptools
      - name: Download distribution
        uses: actions/download-artifact@v1
        with:
          name: python-dist
      - name: Unpack
        run: |
          tar xvzf python-dist/libcx-*.tar.gz
          ln -s libcx-* python
      - name: Install C library
        working-directory: python/dist-libcx
        run: |
          ./configure
          make
          sudo make install
          sudo ldconfig
      - name: Delete C library source
        working-directory: python
        run: |
          rm -rf dist-libcx MANIFEST.in
      - name: Install
        working-directory: python
        run: |
          python3 setup.py build
          sudo python3 setup.py install
      - name: Usage test
        run: |
          python3 -I -c 'import libcx'

  pypi:
    name: Publish
    runs-on: ubuntu-latest
    needs:
      - devel
      - sdist
      - sdist-extlibcx
    steps:
      - name: Download distribution
        uses: actions/download-artifact@v1
        with:
          name: python-dist
      - name: Publish to PyPI
        if: startsWith(github.event.ref, 'refs/tags/python-')
        uses: pypa/gh-action-pypi-publish@master
        with:
          packages_dir: python-dist/
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
